//fontes
$fontePrincipal: Epilogue, sans-serif;

//cores
$cordeFundo: #0d0d0d;
$corTextoHeader: rgba(255, 255, 255, 0.5);
$corHovers: rgba(255, 255, 255, 0.05);
$corTextoOthers: rgba(255, 255, 255, 0.2);

$corBackgroundMenu: rgba(255, 255, 255, 0.05);
//

//breakpoints
$mobile: 767px;
$tablet: 1023px;
