* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Epilogue", sans-serif;
    background-color: #0d0d0d;
    color: #fff;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 24px;
    position: relative;
    font-size: 0.8em;
}

.container .store-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 13px 24px;
    position: relative;
}

.priority-infos {
    flex-grow: 1;
    justify-content: center;
}

.priority-infos a {
    text-decoration: none;
    background: none;
    padding: 16px;
    font-size: 1.1em;
}

.priority-infos > div {
    background: rgba(255, 255, 255, 0.05);
    padding: 22px 10px;
    border-radius: 100px;
}

.priority-infos,
.other-infos {
    display: flex;
    align-items: center;
}

.priority-infos a:hover {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 200px;
    padding: 16px;
    width: auto;
}

.other-infos a {
    margin-left: 10px;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.05);
    padding: 22px 40px;
    border-radius: 32px;
    font-size: 1.1em;
}

.carrinho > .market {
    max-height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px 16px;
}

.carrinho > .market svg {
    background-color: none;
}

.carrinho {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.login:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.market:hover {
    background-color: rgba(255, 255, 255, 0.05);
}
